@import url('https://fonts.googleapis.com/css?family=Lato');
#lecturer {
    background: linear-gradient(35deg,#9a12b3,#c5eff7);
    display: flex;
    flex-direction: row;
    svg {
        cursor: pointer;
        height: 44px;
        width: 44px;
    }
    svg path {
        fill: #fff;
    }
    #lecturer-menu {
        #lecturer-menu-courselist {
            height: calc(100% - 300px);
        }
        width: 0%;
        transition: width 1s;
        visibility: hidden;
        button {
            position: relative;
            top: 100px;
        }
    }
    #lecturer-table-container {
        width: 100%;
        transition: width 1s;
    }
    .menu__toggle-label {
        position: fixed;
        height: 44px;
        width: 44px;
    }
    .menu__toggle-label svg {
        transition: transform 1s;
        z-index: 2;
    }
    .menu__toggle-label svg:nth-of-type(2) {
        position: fixed;
        right: 80%;
        transform: scale(0);
    }
    .menu__toggle {
        opacity: 0;
        position: fixed;
    }

    .menu__toggle:checked ~ #lecturer-table-container {
        width: 80%;
        transition: width 1s;
    }
    .menu__toggle:checked ~ #lecturer-menu {
        width: 20%;
        transition: width 1s;
        visibility: visible;
    }

    .menu__toggle:checked ~ .menu__toggle-label {
        position: fixed;
        height: 44px;
        width: 44px;
        right: 80%;
    }
    .menu__toggle:checked ~ .menu__toggle-label svg:nth-of-type(1) {
        transform: scale(0);
        transition: all 1s;
    }
    .menu__toggle:checked ~ .menu__toggle-label svg:nth-of-type(2) {
        transform: scale(1);
        transition: all 1s;
    }
}