#studentID {
  font-family: Arial, Helvetica, sans-serif;
  // background: linear-gradient(0deg, #fdfcfb , #e2d1c3);
  background: linear-gradient(0deg, #cfd9df, #e2ebf0);

  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .screen {
    display: flex;
    flex-direction: column;
  }

  .text-description{
    color: red;
    font-style: italic;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    height: 100vh;
  }

  h1 {
    margin: 150px auto 80px auto;
    font-size: 40px;
  }

  .input-field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    justify-content: center;
  }
  $primary: #11998e;
  // $secondary: #38ef7d;
  $secondary: #6dabe4;
  $white: #fff;
  $gray: #9b9b9b;

  //Colors
  $background: #fefefe;
  $text: #4b507a;

  $cyan: #6dabe4;
  $yellow: #fbca67;
  $orange: #ff8a30;
  $red: #9b9b9b;
  $purple: #6477b9;
  $blue: #0eb7da;

  // Basic styles
  button,
  .back-button {
    cursor: pointer;
    background: none;
    border: none;
    box-sizing: border-box;
    // padding: 1em 1em;
    border-image: linear-gradient(to right, $primary, $secondary);
    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px black;
    color: black;
    font-size: inherit;

    // Required, since we're setting absolute on pseudo-elements
    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
      box-sizing: inherit;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .button-submit,
  .back-button {
    width: 9%;
    outline: none;
    transition: color 0.25s;
    text-transform: uppercase;
    &::before,
    &::after {
      // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
      border: 3px solid transparent;
      width: 0;
      height: 0;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
      left: 0;
      bottom: 0;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
      top: 0;
      right: 0;
    }

    &:hover {
      color: $cyan;
    }

    // Hover styles
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-bottom-color: $cyan; // Make borders visible
      border-right-color: $cyan;
      transition: width 0.15s ease-out,
        // Width expands first
          height 0.1s ease-out 0.15s; // And then height
    }

    &:hover::after {
      border-top-color: $cyan; // Make borders visible
      border-left-color: $cyan;
      transition: border-color 0s ease-out 0.2s,
        // Wait for ::before to finish before showing border
          width 0.15s ease-out 0.1s,
        // And then expanding width
          height 0.15s ease-out 0.2s; // And finally height
    }
  }

  .back-button {
    width: 8%;
    margin: 5px 0 0 5px;
    font-size: 14px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    justify-content: center;
  }

  .button-text{
    margin: 0;
  }

  

  .form__group {
    position: relative;
    padding: 15px 5px 0;
    width: 55%;
  }

  .form__field {
    text-transform: uppercase;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0 7px 7px;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    // padding: 20px 0 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
  }

  .form__field:focus,
  .form__field:hover 
  {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 500; 
    }
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}
